#masked-form .row {
  background: white;
}
h2 {
  color: #7b2cbf;
}

.btn {
  background: #7b2cbf;
  color: #fff;
}
.btn:hover {
  background: #a3e7e1;
  border: 2px solid #7b2cbf;
}
.btn-enviar {
  color: #fff;
  background: #7b2cbf;

}
.btn-enviar:hover {
  color: #fff;
  background: #7b2cbf;
  transform: scale(0.9);
}
